<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".ui.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_orange"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_orange_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.compose.activity.single_image.SingleImageActivity"
            android:exported="false"
            android:label="@string/title_activity_single_image"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.compose.activity.image_edit.EditingActivity"
            android:exported="false"
            android:label="@string/title_activity_editng"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.compose.activity.camera.CameraActivity"
            android:exported="false"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.compose.activity.document_view.DocumentView"
            android:exported="false"
            android:label="@string/title_activity_document_view"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.compose.activity.all_docs.AllDocs"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--
 <activity
            android:name=".ui.activity.editing.EditingImageActivity"
            android:exported="false" />
        <activity android:name=".ui.activity.settings.SettingsActivity" />
        <activity android:name=".ui.activity.camera.CameraActivity" />
        <activity android:name=".ui.activity.all_docs.AllDocsActivity" />
        <activity android:name=".ui.activity.single_image.SingleImageActivity" />
        <activity android:name=".ui.activity.document_view.DocumentViewActivity" />
        <activity
            android:name=".ui.activity.main.MainPage"
            android:exported="true" />
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.oxodiceproductions.dockmaker"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>